In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('logic_immo_scrap_complete.csv')

In [7]:
df.shape

(4240, 6)

In [8]:
df.head()

,Superficie,Rooms,Bedrooms,Price,Location,description
0,33m²,1 p.,-1,328 600 €,Paris 19 (75019)|Secrétan - Jaurès...,Ref de l'annonce\r\n:Grand Studio\r\nParking\r...
1,122m²,5 p.,4 p.,1 940 000 €,Paris 04 (75004)\r\nParis 4ème,Ref de l'annonce\r\n:158\r\nParking\r\nTerrass...
2,68m²,4 p.,3 p.,830 000 €,Paris 10 (75010)\r\nParis 10ème,Ref de l'annonce\r\n:2679339\r\nTerrasse/Balco...
3,36m²,2 p.,1 p.,524 000 €,Paris 18 (75018)\r\nAbbesses,Ref de l'annonce\r\n:0555\r\nEtage du bien\r\n...
4,32m²,1 p.,-1,375 000 €,Paris 15 (75015)\r\nParis 15ème,Ref de l'annonce\r\n:162373805\r\nChauffage\r\...

In [10]:
#Location extract only the district
#Superficie parsing
#Bedrooms check for -1 values
#parsing of description: extract features: Parking, Cellar, floor building, floor apartment, 
                            #patio/balcony, Heating, nb_bathrooms, Renovated ?
#price parsing

Let's try to extract the district from the column 'Location'.

In [12]:
#Location extract only the district
import re
df["Loc_Paris"]=df.Location.apply(lambda x: re.findall(r'\d{5}',x)[0] )
df.Loc_Paris.value_counts()

75018    481
75015    424
75016    391
75017    322
75020    285
75013    233
75011    209
75014    209
75019    196
75006    178
75007    174
75008    174
75010    166
75012    150
75005    110
75004    107
75009    100
75003     94
75116     89
75002     88
75001     60
Name: Loc_Paris, dtype: int64

In [13]:
#It seems that some districts are misspelled.
df[df.Loc_Paris=='75116']

,Superficie,Rooms,Bedrooms,Price,Location,description,Loc_Paris
62,17m²,2 p.,1 p.,365 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:d2117f\r\nChauffage\r\n:I...,75116
117,29m²,1 p.,-1,457 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:W-02I86Q\r\nEtage du bien...,75116
123,177m²,5 p.,3 p.,1 930 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:W-02GTRV\r\nNombre d'étag...,75116
124,201m²,6 p.,3 p.,3 150 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:W-02HFSG\r\nEtage du bien...,75116
125,143m²,4 p.,2 p.,2 665 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:W-02EE9H\r\nChauffage\r\n...,75116
...,...,...,...,...,...,...,...
4005,420m²,10 p.,5 p.,12 900 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:Henri Martin\r\nRénové\r\...,75116
4047,362m²,8 p.,5 p.,5 950 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:1018PSN\r\nChauffage\r\n:...,75116
4055,201m²,6 p.,3 p.,2 500 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:577VHFDH\r\nChauffage\r\n...,75116
4057,89m²,3 p.,2 p.,1 030 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:546\r\nChauffage\r\n:Cent...,75116
4113,242m²,7 p.,4 p.,2 890 000 €,Paris 16 (75116)\r\nParis,Ref de l'annonce\r\n:30608640\r\nChauffage\r\n...,75116

In [14]:
# it should be '75016' instead of '75116'
df.Loc_Paris.replace('75116','75016',inplace=True)
df.Loc_Paris.value_counts()

75018    481
75016    480
75015    424
75017    322
75020    285
75013    233
75011    209
75014    209
75019    196
75006    178
75008    174
75007    174
75010    166
75012    150
75005    110
75004    107
75009    100
75003     94
75002     88
75001     60
Name: Loc_Paris, dtype: int64

In [15]:
#Superficie parsing
df['m2']=df.Superficie.apply(lambda x: int(x.split('m²')[0]))
df.m2

0        33
1       122
2        68
3        36
4        32
       ...
4235    128
4236     56
4237    155
4238    107
4239     43
Name: m2, Length: 4240, dtype: int64

In [16]:
df.Rooms.value_counts()
#Outliers spotted

2 p.     1169
3 p.      924
1 p.      726
4 p.      590
5 p.      467
6 p.      198
8 p.       82
7 p.       67
9 p.        7
10 p.       3
12 p.       3
16 p.       1
14 p.       1
11 p.       1
30 p.       1
Name: Rooms, dtype: int64

In [17]:
#Bedrooms check for -1 values
df.Bedrooms.replace("-1", "0 p.",inplace=True)
df.Bedrooms.value_counts()

1 p.     1369
2 p.     1031
0 p.      735
3 p.      676
4 p.      356
5 p.       60
6 p.        9
10 p.       1
12 p.       1
7 p.        1
8 p.        1
Name: Bedrooms, dtype: int64

In [18]:
#parsing of description: extract features: Parking, Cellar, floor building, floor apartment, 
                            #patio/balcony, Heating, nb_bathrooms, Renovated ?
    
#We create a funciton to extract features from the column description

def extract_features(x,feature):
    for i in range(len(df)):
        if feature in str(x):
            return (x.split(f'{feature}\r\n:')[1].split('\r')[0])
        else:
            return 0

In [19]:
df["building_floor"]=df.description.apply(lambda x: extract_features(x,'bâtiment'))

df["apartment_floor"]=df.description.apply(lambda x: extract_features(x,'bien'))

df["nb_bath"]=df.description.apply(lambda x: extract_features(x,'bain'))

df["Cellar"]=df.description.apply(lambda x: 1 if "cave" in str(x).lower() else 0)

df["balc_patio"]=df.description.apply(lambda x: extract_features(x,'Balcon'))

df["Heating"]=df.description.apply(lambda x: extract_features(x,'Chauffage'))

df["Renovated"]=df.description.apply(lambda x: 1 if "rénové" in str(x).lower() else 0)

df["Parking"]=df.description.apply(lambda x: 1 if "parking" in str(x).lower() else 0)

In [20]:
#price parsing
df['Price']=df.Price.apply(lambda x: x.replace('€',""))

In [21]:
df.head()

,Superficie,Rooms,Bedrooms,Price,Location,description,Loc_Paris,m2,building_floor,apartment_floor,nb_bath,Cellar,balc_patio,Heating,Renovated,Parking
0,33m²,1 p.,0 p.,328 600,Paris 19 (75019)|Secrétan - Jaurès...,Ref de l'annonce\r\n:Grand Studio\r\nParking\r...,75019,33,14,1er,1,0,0,0,0,1
1,122m²,5 p.,4 p.,1 940 000,Paris 04 (75004)\r\nParis 4ème,Ref de l'annonce\r\n:158\r\nParking\r\nTerrass...,75004,122,4,2e,1,1,Terrasse,0,0,1
2,68m²,4 p.,3 p.,830 000,Paris 10 (75010)\r\nParis 10ème,Ref de l'annonce\r\n:2679339\r\nTerrasse/Balco...,75010,68,3,0,1,0,Terrasse,0,0,0
3,36m²,2 p.,1 p.,524 000,Paris 18 (75018)\r\nAbbesses,Ref de l'annonce\r\n:0555\r\nEtage du bien\r\n...,75018,36,0,2e,1,1,0,0,0,0
4,32m²,1 p.,0 p.,375 000,Paris 15 (75015)\r\nParis 15ème,Ref de l'annonce\r\n:162373805\r\nChauffage\r\...,75015,32,9,8e,0,1,0,Au gaz,0,0

Now that we have done a lot of feature Engineering and Data cleaning, I think it could be interesting to explore the values of the different features of the dataframe.

In [22]:
#Loc_Paris
df.Loc_Paris.value_counts()

75018    481
75016    480
75015    424
75017    322
75020    285
75013    233
75011    209
75014    209
75019    196
75006    178
75008    174
75007    174
75010    166
75012    150
75005    110
75004    107
75009    100
75003     94
75002     88
75001     60
Name: Loc_Paris, dtype: int64

In [23]:
#building_floor
df.building_floor.value_counts()

6       1141
0       1117
5        539
7        356
4        239
8        203
3        170
9        101
10        77
2         60
14        50
1         43
11        38
12        29
15        10
31        10
13         9
30         9
32         7
16         6
17         5
29         4
22         3
18         3
1900       2
27         2
28         2
26         1
19         1
33         1
20         1
21         1
Name: building_floor, dtype: int64

The 0 values correspond to missing values. 
Indeed it seems that for 1117 property advertisements did not specified the number of floors of the building. To deal with missing values we can do 3 things:
1.Delete the rows with missing values
2.Delete the column
3.Impute the mean number of floors for each district. 
I tried the first and the third solution and it seems that the best one is the first one.

In [ ]:
#df.building_floor=df.groupby('Loc_Paris').building_floor.transform(lambda x: x.replace(0,int(x.median()))).apply(lambda x: int(x))
#df.building_floor.value_counts()

In [24]:
#Drop the columns where we do not know the number of floors of the building.
df=df[~(df.building_floor==0)]
#Drop the rows with 1900 floors, because this is not possible
df=df[~(df.building_floor=='1900')]
df.building_floor.value_counts()

6     1141
5      539
7      356
4      239
8      203
3      170
9      101
10      77
2       60
14      50
1       43
11      38
12      29
15      10
31      10
30       9
13       9
32       7
16       6
17       5
29       4
18       3
22       3
27       2
28       2
26       1
21       1
20       1
33       1
19       1
Name: building_floor, dtype: int64

In [25]:
df.apartment_floor.value_counts()

0         546
1er       531
2e        470
4e        400
3e        384
5e        321
6e        233
7e         99
8e         49
9e         29
10e        11
15e         8
11e         8
18e         6
12e         5
13e         4
30e         2
29e         2
19e         1
25e         1
20e         1
17e         1
1900e       1
21e         1
32e         1
24e         1
16e         1
28e         1
32767e      1
23e         1
22e         1
Name: apartment_floor, dtype: int64

Some rows with wrong values such as '32767' or '1900e' or '1930e'. We should drop them.
Same problem that with the building floor, it seems that for 546 property advertisements did not specified at which floor the apartment is located in the building. We will use the same method.

In [ ]:
#Imputation
#df.apartment_floor=df.groupby('Loc_Paris').apartment_floor.transform(lambda x: x.replace(0,x.value_counts().idxmax()))
#Replace the remaining 0 by the most frequent occurences in the all districts
#df.apartment_floor=df.apartment_floor.transform(lambda x: x.replace(0,df.apartment_floor.value_counts().idxmax()))
#df.apartment_floor.value_counts()

In [27]:
#Drop rows with wrong values such as '32767' or '1900e' or '1930e'
df=df[~(df.apartment_floor=='1900e')]
df=df[~(df.apartment_floor=='32767e')]
df=df[~(df.apartment_floor=='1930e')]
df=df[~(df.apartment_floor==0)]
df.apartment_floor.value_counts()

1er    531
2e     470
4e     400
3e     384
5e     321
6e     233
7e      99
8e      49
9e      29
10e     11
11e      8
15e      8
18e      6
12e      5
13e      4
30e      2
29e      2
19e      1
25e      1
22e      1
20e      1
21e      1
32e      1
17e      1
16e      1
24e      1
28e      1
23e      1
Name: apartment_floor, dtype: int64

In [28]:
df.Cellar.unique()

array([0, 1], dtype=int64)

In [29]:
df.balc_patio.unique()

array([0, 'Terrasse', 'Balcon', 'Terrasse, balcon'], dtype=object)

In [31]:
#replace 0 values with Unknown since we do  not know what chauffage is used
df.Heating=df.Heating.apply(lambda x: str(x).replace('0','Unknown'))

In [32]:
#Create two new features for Chauffage: "individuel" and "Central", since both are the most important classes
df['Heating_Central']=df.Heating.apply(lambda x: 1 if 'Central' in str(x) else 0)
df['Heating_Individual']=df.Heating.apply(lambda x: 1 if 'Individuel' in str(x) else 0)
df.Heating_Central.value_counts()

0    1974
1     599
Name: Heating_Central, dtype: int64

In [33]:
df.Parking.value_counts()

0    2249
1     324
Name: Parking, dtype: int64

In [34]:
#Drop the rows with unknown for m2 feature
df=df[~(df.m2==-1)]

In [35]:
df.columns

Index(['Superficie', 'Rooms', 'Bedrooms', 'Price', 'Location', 'description',
       'Loc_Paris', 'm2', 'building_floor', 'apartment_floor', 'nb_bath',
       'Cellar', 'balc_patio', 'Heating', 'Renovated', 'Parking',
       'Heating_Central', 'Heating_Individual'],
      dtype='object')

Now let us do some more Feature Engineering with the "Price" column, the "district in Paris", the "apartment floor" and I will create another feature that could be interesting "Last floor". I think this feature can have an impact on the price. I will verify this assumption in the Exploratory Data Analysis.

In [36]:
df=df[~(df.Price=='Nous consulter')]
#I want the column price to be numeric
df['Price_int']=df.Price.apply(lambda x: int(x.strip().replace(' ','')))

#I Want the column Loc_Paris to be treated as a categorical variable
df['Loc_Paris']=df.Loc_Paris.apply(lambda x: str(x))
#transform the feature loc_Paris 
df.Loc_Paris=df.Loc_Paris.apply(lambda x: int(x)-75000)

#transform apartment floor into a numerical feature
df['apartment_floor']=df.apartment_floor.apply(lambda x: int(x.replace('e','').replace('r','')))

#Let us create one other feature that could be interesting: 'Last_etage'
df['Last_floor']= df.apply(lambda x: 1 if x.building_floor==x.apartment_floor else 0,axis=1)

# transforming the feature nb_bain to categorical
df['nb_bath']=df.nb_bath.apply(lambda x: str(x))

In [37]:
df.to_csv('House_price_cleaned.csv',index=False)