In [459]:
#Imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.model_selection import cross_val_score

In [460]:
df=pd.read_csv('final_data.csv')

In [461]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 0 to 2207
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Superficie            2208 non-null   object
 1   Rooms                 2208 non-null   object
 2   Bedrooms              2208 non-null   object
 3   Price                 2208 non-null   object
 4   Location              2208 non-null   object
 5   description           2208 non-null   object
 6   Loc_Paris             2208 non-null   int64
 7   m2                    2208 non-null   int64
 8   nb_bat                2208 non-null   int64
 9   nb_good               2208 non-null   int64
 10  nb_bain               2208 non-null   int64
 11  Cave                  2208 non-null   int64
 12  balc_terr             2208 non-null   object
 13  Chauffage             2208 non-null   object
 14  Rénové                2208 non-null   int64
 15  Parking               2208 non-null   int64
 16  Chauffage_Central     2208 non-null   int64
 17  Chauffage_Individuel  2208 non-null   int64
 18  Price_int             2208 non-null   int64
 19  Last_etage            2208 non-null   int64
 20  nb_bathrooms          2208 non-null   int64
dtypes: int64(13), object(8)
memory usage: 362.4+ KB

In [462]:
#Choose relevant columns
#get dummy data
#train test split
#multiple linear regression
#lasso regression
#random forest
#xgboost
#Adaboost
#tune hyperparameters
#test ensembles

In [463]:
#Choose relevant columns
df.columns

Index(['Superficie', 'Rooms', 'Bedrooms', 'Price', 'Location', 'description',
       'Loc_Paris', 'm2', 'nb_bat', 'nb_good', 'nb_bain', 'Cave', 'balc_terr',
       'Chauffage', 'Rénové', 'Parking', 'Chauffage_Central',
       'Chauffage_Individuel', 'Price_int', 'Last_etage', 'nb_bathrooms'],
      dtype='object')

In [464]:
#Choose relevant columns
df=df[['Rooms', 'Bedrooms','Loc_Paris', 'm2', 'nb_bain','nb_bat','nb_good','Cave', 'balc_terr', 'Rénové', 'Parking',
       'Price_int']]

In [465]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 0 to 2207
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rooms      2208 non-null   object
 1   Bedrooms   2208 non-null   object
 2   Loc_Paris  2208 non-null   int64
 3   m2         2208 non-null   int64
 4   nb_bain    2208 non-null   int64
 5   nb_bat     2208 non-null   int64
 6   nb_good    2208 non-null   int64
 7   Cave       2208 non-null   int64
 8   balc_terr  2208 non-null   object
 9   Rénové     2208 non-null   int64
 10  Parking    2208 non-null   int64
 11  Price_int  2208 non-null   int64
dtypes: int64(9), object(3)
memory usage: 207.1+ KB

In [466]:
#get dummy data
df=pd.get_dummies(df)

In [467]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 0 to 2207
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Loc_Paris                   2208 non-null   int64
 1   m2                          2208 non-null   int64
 2   nb_bain                     2208 non-null   int64
 3   nb_bat                      2208 non-null   int64
 4   nb_good                     2208 non-null   int64
 5   Cave                        2208 non-null   int64
 6   Rénové                      2208 non-null   int64
 7   Parking                     2208 non-null   int64
 8   Price_int                   2208 non-null   int64
 9   Rooms_1 p.                  2208 non-null   uint8
 10  Rooms_2 p.                  2208 non-null   uint8
 11  Rooms_3 p.                  2208 non-null   uint8
 12  Rooms_4 p.                  2208 non-null   uint8
 13  Rooms_5 p.                  2208 non-null   uint8
 14  Rooms_6 p.                  2208 non-null   uint8
 15  Rooms_7 p.                  2208 non-null   uint8
 16  Bedrooms_0 p.               2208 non-null   uint8
 17  Bedrooms_1 p.               2208 non-null   uint8
 18  Bedrooms_2 p.               2208 non-null   uint8
 19  Bedrooms_3 p.               2208 non-null   uint8
 20  Bedrooms_4 p.               2208 non-null   uint8
 21  Bedrooms_5 p.               2208 non-null   uint8
 22  balc_terr_0                 2208 non-null   uint8
 23  balc_terr_Balcon            2208 non-null   uint8
 24  balc_terr_Terrasse          2208 non-null   uint8
 25  balc_terr_Terrasse, balcon  2208 non-null   uint8
dtypes: int64(9), uint8(17)
memory usage: 192.0 KB

In [468]:
df.head()

,Loc_Paris,m2,nb_bain,nb_bat,nb_good,Cave,Rénové,Parking,Price_int,Rooms_1 p.,...,Bedrooms_0 p.,Bedrooms_1 p.,Bedrooms_2 p.,Bedrooms_3 p.,Bedrooms_4 p.,Bedrooms_5 p.,balc_terr_0,balc_terr_Balcon,balc_terr_Terrasse,"balc_terr_Terrasse, balcon"
0,19,33,1,14,1,0,0,1,328600,1,...,1,0,0,0,0,0,1,0,0,0
1,4,122,1,4,2,1,0,1,1940000,0,...,0,0,0,0,1,0,0,0,1,0
2,15,32,1,9,8,1,0,0,375000,1,...,1,0,0,0,0,0,1,0,0,0
3,11,67,1,6,5,1,0,0,745000,0,...,0,0,1,0,0,0,1,0,0,0
4,20,29,1,5,4,0,0,1,346500,1,...,1,0,0,0,0,0,1,0,0,0

In [469]:
#train test split
X=df.drop('Price_int',axis=1)
y=df.Price_int
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [470]:
#Linear Regression
lr=RandomForestRegressor()
score_lr=np.mean(cross_val_score(lr,X_train,y_train,cv=5))

In [471]:
#Lasso
las=RandomForestRegressor()
score_las=np.mean(cross_val_score(las,X_train,y_train,cv=5))

In [477]:
#random forest
rf=RandomForestRegressor()
score_rf=np.mean(cross_val_score(rf,X_train,y_train,cv=5))

In [478]:
scores=pd.DataFrame(index=['Linear_Reg','Lasso','Random_Forest'],data=[score_lr,score_las,score_rf],columns=['score'])

In [479]:
scores

                  score
Linear_Reg     0.857780
Lasso          0.857426
Random_Forest  0.857512

In [475]:
#random forest
rf=RandomForestRegressor()
np.mean(cross_val_score(rf,X_train,y_train,scoring='neg_mean_squared_error',cv=5))

-28935140654.23527

In [476]:
rf.fit(X_train,y_train)
preds=rf.predict(X_test)

print (mean_absolute_error(preds,y_test))
print((mean_absolute_error(preds,y_test))/(np.mean(y_test)))

116819.30522084195
0.14626232150515742