In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('airbnb_Paris.csv',error_bad_lines=False)

b'Skipping line 22911: expected 16 fields, saw 17\nSkipping line 26301: expected 16 fields, saw 18\n'
C:\Users\gaeta\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,4,7,11,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365;;
0,2577,Loft for 4 by Canal Saint Martin,2827,Karine,NaN,Entrepôt,48.86993,2.36251,Entire home/apt,125.0,3.0,1,2019-01-02,0.06,1,365;;
1,3109,zen and calm,3631,Anne,NaN,Observatoire,48.83349,2.31852,Entire home/apt,60.0,2.0,9,2019-10-24,0.21,1,365;;
2,4890,Quiet Historic & Cute +Free Cruise,6792,Jennifer Of Cobblestone,NaN,Temple,48.86409,2.35651,Entire home/apt,100.0,4.0,22,2017-04-30,0.21,1,55;;
3,5396,Explore the heart of old Paris,7903,Borzou,NaN,Hôtel-de-Ville,48.85100,2.35869,Entire home/apt,115.0,1.0,221,2020-05-26,1.66,1,90;;
4,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,2626,Franck,NaN,Hôtel-de-Ville,48.85758,2.35275,Entire home/apt,119.0,10.0,268,2020-02-26,2.39,2,288;;

In [6]:
df.room_type.unique()

array(['Entire home/apt', nan, 'Private room', 'Hotel room',
       'Shared room', '90', '95', '60', '110', '25', '57'], dtype=object)

In [7]:
df.shape

(67344, 16)

In [8]:
example="https://towardsdatascience.com/predicting-airbnb-prices-with-machine-learning-and-location-data-5c1e033d0a5a#3efa"