In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('logic_immo_scrap_complete.csv')

In [3]:
df.shape

(4240, 6)

In [4]:
df.head()

,Superficie,Rooms,Bedrooms,Price,Location,description
0,33m²,1 p.,-1,328 600 €,Paris 19 (75019)|Secrétan - Jaurès...,Ref de l'annonce\n:Grand Studio\nParking\nEtag...
1,122m²,5 p.,4 p.,1 940 000 €,Paris 04 (75004)\nParis 4ème,Ref de l'annonce\n:158\nParking\nTerrasse/Balc...
2,68m²,4 p.,3 p.,830 000 €,Paris 10 (75010)\nParis 10ème,Ref de l'annonce\n:2679339\nTerrasse/Balcon\n:...
3,36m²,2 p.,1 p.,524 000 €,Paris 18 (75018)\nAbbesses,Ref de l'annonce\n:0555\nEtage du bien\n:2e\nC...
4,32m²,1 p.,-1,375 000 €,Paris 15 (75015)\nParis 15ème,Ref de l'annonce\n:162373805\nChauffage\n:Au g...

In [5]:
#Location extract only the arrondissement
#Superficie parsing
#Rooms string without p. ??
#Bedrooms string without p. ??
#Bedrooms check for -1 values
#parsing of description: extract features: Parking, Cave, Etage immeuble, etage appartement, 
                            #Terrasse/balcon, CHauffage, nb salle de bain, Rénové ?
#price parsing

In [6]:
#Location extract only the arrondissement
import re
df["Loc_Paris"]=df.Location.apply(lambda x: re.findall(r'\d{5}',x)[0] )
df.Loc_Paris.value_counts()

75018    481
75015    424
75016    391
75017    322
75020    285
75013    233
75011    209
75014    209
75019    196
75006    178
75008    174
75007    174
75010    166
75012    150
75005    110
75004    107
75009    100
75003     94
75116     89
75002     88
75001     60
Name: Loc_Paris, dtype: int64

In [7]:
#It seems that some location are mispelled.
df[df.Loc_Paris=='75116']

,Superficie,Rooms,Bedrooms,Price,Location,description,Loc_Paris
62,17m²,2 p.,1 p.,365 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:d2117f\nChauffage\n:Individ...,75116
117,29m²,1 p.,-1,457 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:W-02I86Q\nEtage du bien\n:3...,75116
123,177m²,5 p.,3 p.,1 930 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:W-02GTRV\nNombre d'étages d...,75116
124,201m²,6 p.,3 p.,3 150 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:W-02HFSG\nEtage du bien\n:1...,75116
125,143m²,4 p.,2 p.,2 665 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:W-02EE9H\nChauffage\n:Centr...,75116
...,...,...,...,...,...,...,...
4005,420m²,10 p.,5 p.,12 900 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:Henri Martin\nRénové\nChauf...,75116
4047,362m²,8 p.,5 p.,5 950 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:1018PSN\nChauffage\n:Centra...,75116
4055,201m²,6 p.,3 p.,2 500 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:577VHFDH\nChauffage\n:Indiv...,75116
4057,89m²,3 p.,2 p.,1 030 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:546\nChauffage\n:Central\nG...,75116
4113,242m²,7 p.,4 p.,2 890 000 €,Paris 16 (75116)\nParis,Ref de l'annonce\n:30608640\nChauffage\n:Indiv...,75116

In [8]:
# it should be '75016' instead of '75116'
df.Loc_Paris.replace('75116','75016',inplace=True)
df.Loc_Paris.value_counts()

75018    481
75016    480
75015    424
75017    322
75020    285
75013    233
75011    209
75014    209
75019    196
75006    178
75008    174
75007    174
75010    166
75012    150
75005    110
75004    107
75009    100
75003     94
75002     88
75001     60
Name: Loc_Paris, dtype: int64

In [9]:
#Superficie parsing
df['m2']=df.Superficie.apply(lambda x: int(x.split('m²')[0]))
df.m2

0        33
1       122
2        68
3        36
4        32
       ...
4235    128
4236     56
4237    155
4238    107
4239     43
Name: m2, Length: 4240, dtype: int64

In [10]:
#Rooms string without p. ??
df.Rooms.value_counts()
#Outliers spotted

2 p.     1169
3 p.      924
1 p.      726
4 p.      590
5 p.      467
6 p.      198
8 p.       82
7 p.       67
9 p.        7
12 p.       3
10 p.       3
14 p.       1
30 p.       1
16 p.       1
11 p.       1
Name: Rooms, dtype: int64

In [11]:
#Bedrooms string without p. ??
#Bedrooms check for -1 values
df.Bedrooms.replace("-1", "0 p.",inplace=True)
df.Bedrooms.value_counts()

1 p.     1369
2 p.     1031
0 p.      735
3 p.      676
4 p.      356
5 p.       60
6 p.        9
7 p.        1
12 p.       1
8 p.        1
10 p.       1
Name: Bedrooms, dtype: int64

In [12]:
#parsing of description: extract features: Parking, Cave, Etage immeuble, etage appartement, 
                            #Terrasse/balcon, CHauffage, nb salle de bain, Rénové ?
    
#We create a funciton to extract features from the column description

def extract_features(x,feature):
    for i in range(len(df)):
        if feature in str(x):
            return (x.split(f'{feature}\n:')[1].split('\n')[0])
        else:
            return 0

In [13]:
df["nb_bat"]=df.description.apply(lambda x: extract_features(x,'bâtiment'))

df["nb_good"]=df.description.apply(lambda x: extract_features(x,'bien'))

df["nb_bain"]=df.description.apply(lambda x: extract_features(x,'bain'))

df["Cave"]=df.description.apply(lambda x: 1 if "cave" in str(x).lower() else 0)

df["balc_terr"]=df.description.apply(lambda x: extract_features(x,'Balcon'))

df["Chauffage"]=df.description.apply(lambda x: extract_features(x,'Chauffage'))

df["nb_bain"]=df.description.apply(lambda x: extract_features(x,'bain'))

df["Rénové"]=df.description.apply(lambda x: 1 if "rénové" in str(x).lower() else 0)

df["Parking"]=df.description.apply(lambda x: 1 if "parking" in str(x).lower() else 0)

In [14]:
#price parsing
df['Price']=df.Price.apply(lambda x: x.replace('€',""))

In [15]:
df.head()

,Superficie,Rooms,Bedrooms,Price,Location,description,Loc_Paris,m2,nb_bat,nb_good,nb_bain,Cave,balc_terr,Chauffage,Rénové,Parking
0,33m²,1 p.,0 p.,328 600,Paris 19 (75019)|Secrétan - Jaurès...,Ref de l'annonce\n:Grand Studio\nParking\nEtag...,75019,33,14,1er,1,0,0,0,0,1
1,122m²,5 p.,4 p.,1 940 000,Paris 04 (75004)\nParis 4ème,Ref de l'annonce\n:158\nParking\nTerrasse/Balc...,75004,122,4,2e,1,1,Terrasse,0,0,1
2,68m²,4 p.,3 p.,830 000,Paris 10 (75010)\nParis 10ème,Ref de l'annonce\n:2679339\nTerrasse/Balcon\n:...,75010,68,3,0,1,0,Terrasse,0,0,0
3,36m²,2 p.,1 p.,524 000,Paris 18 (75018)\nAbbesses,Ref de l'annonce\n:0555\nEtage du bien\n:2e\nC...,75018,36,0,2e,1,1,0,0,0,0
4,32m²,1 p.,0 p.,375 000,Paris 15 (75015)\nParis 15ème,Ref de l'annonce\n:162373805\nChauffage\n:Au g...,75015,32,9,8e,0,1,0,Au gaz,0,0

In [16]:
#Explore the valeus of the different features
#Loc_Paris
df.Loc_Paris.value_counts()

75018    481
75016    480
75015    424
75017    322
75020    285
75013    233
75011    209
75014    209
75019    196
75006    178
75008    174
75007    174
75010    166
75012    150
75005    110
75004    107
75009    100
75003     94
75002     88
75001     60
Name: Loc_Paris, dtype: int64

In [17]:
#nb_bat
df.nb_bat.value_counts()

6       1141
0       1117
5        539
7        356
4        239
8        203
3        170
9        101
10        77
2         60
14        50
1         43
11        38
12        29
31        10
15        10
13         9
30         9
32         7
16         6
17         5
29         4
18         3
22         3
28         2
27         2
1900       2
20         1
21         1
33         1
19         1
26         1
Name: nb_bat, dtype: int64

In [27]:
#Drop the columns where we do not know the "etage"
df=df[~(df.nb_bat==0)]
#Drop the columns with 1900 etages
df=df[~(df.nb_bat=='1900')]
df.nb_bat.value_counts()

6     1141
5      539
7      356
4      239
8      203
3      170
9      101
10      77
2       60
14      50
1       43
11      38
12      29
15      10
31      10
13       9
30       9
32       7
16       6
17       5
29       4
18       3
22       3
27       2
28       2
26       1
33       1
21       1
20       1
19       1
Name: nb_bat, dtype: int64

In [28]:
df.nb_good.value_counts()

0         546
1er       531
2e        470
4e        400
3e        384
5e        321
6e        233
7e         99
8e         49
9e         29
10e        11
15e         8
11e         8
18e         6
12e         5
13e         4
30e         2
29e         2
1900e       1
23e         1
32e         1
21e         1
28e         1
19e         1
16e         1
20e         1
22e         1
25e         1
17e         1
24e         1
32767e      1
Name: nb_good, dtype: int64

In [34]:
#Drop columns with wrong values such as '32767' or '1900e' 
df=df[~(df.nb_good=='1900e')]
df=df[~(df.nb_good=='32767e')]
df=df[~(df.nb_good==0)]
df.nb_good.value_counts()

1er    531
2e     470
4e     400
3e     384
5e     321
6e     233
7e      99
8e      49
9e      29
10e     11
15e      8
11e      8
18e      6
12e      5
13e      4
30e      2
29e      2
16e      1
20e      1
22e      1
19e      1
25e      1
28e      1
17e      1
24e      1
23e      1
32e      1
21e      1
Name: nb_good, dtype: int64

In [37]:
df.Cave.unique()

array([0, 1], dtype=int64)

In [39]:
df.balc_terr.unique()

array([0, 'Terrasse', 'Balcon', 'Terrasse, balcon'], dtype=object)

In [45]:
#replace 0 values with Unknown since we do  not know what chauffage is use
df.Chauffage=df.Chauffage.apply(lambda x: str(x).replace('0','Unknown'))

In [49]:
#Create two new features for Chauffage: "individuel" and "Central", since both are the most important classes
df['Chauffage_Central']=df.Chauffage.apply(lambda x: 1 if 'Central' in str(x) else 0)
df['Chauffage_Individuel']=df.Chauffage.apply(lambda x: 1 if 'Individuel' in str(x) else 0)
df.Chauffage_Central.value_counts()

0    1974
1     599
Name: Chauffage_Central, dtype: int64

In [51]:
df.Parking.value_counts()

0    2249
1     324
Name: Parking, dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2573 entries, 0 to 4239
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Superficie            2573 non-null   object
 1   Rooms                 2573 non-null   object
 2   Bedrooms              2573 non-null   object
 3   Price                 2573 non-null   object
 4   Location              2573 non-null   object
 5   description           2573 non-null   object
 6   Loc_Paris             2573 non-null   object
 7   m2                    2573 non-null   int64
 8   nb_bat                2573 non-null   object
 9   nb_good               2573 non-null   object
 10  nb_bain               2573 non-null   object
 11  Cave                  2573 non-null   int64
 12  balc_terr             2573 non-null   object
 13  Chauffage             2573 non-null   object
 14  Rénové                2573 non-null   int64
 15  Parking               2573 non-null   int64
 16  Chauffage_Central     2573 non-null   int64
 17  Chauffage_Individuel  2573 non-null   int64
dtypes: int64(6), object(12)
memory usage: 381.9+ KB

In [53]:
df.to_csv('House_price_cleaned.csv',index=False)